<!DOCTYPE html>
{{define "registration"}}
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <script type="text/javascript" src="static/htmx.min.js"></script>
    <h1>Registration</h1>
    <form hx-post="/registration">
        <input type="text" placeholder="OpenID Provider" name="host" value=""><br>
        <input type="text" placeholder="SSA" name="SSA" value=""><br>
        <input type="text" placeholder="Space separated scopes" name="scope" value="openid"><br>
        <input type="submit" value="Submit">
    </form>
</html>
{{end}}
